<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Insert title here</title>
    </head>
    <body>
        <div th:each="article : ${articleList}">
            <p>投稿者名：<span th:text="${article.name}"></span></p>
            <p>投稿内容：</p>
            <pre th:text="${article.content}"></pre>
            <br />

            <div
                th:unless="${comment == null}"
                th:each="comment : ${article.commentList}"
            >
                <p>コメント者名：<span th:text="${comment.name}"></span></p>
                <p>コメント内容：</p>
                <pre th:text="${comment.content}"></pre>
                <br />
            </div>

            <hr />
        </div>
    </body>
</html>
